.btn{
    
}


/*------------------------------------------------------------------------*/

/*btn*/

/*------------------------------------------------------------------------*/

/*color*/

.color-primary{
    background-color: darkblue;
}

.color-primary:hover{
    background-color:black;
}


.color-caution{
    background-color: red;
}

.color-caution:hover{
    background-color:darkred
}


/*size*/

.size-small{
    height: 32px;
    padding-left: 14px;
    padding-right: 14px;
}


.size-large{
    height: 40px;
    min-width: 100px;
    padding-left: 14px;
    padding-right: 14px;
}



/*------------------------------------------------------------------------*/

/*font*/

/*------------------------------------------------------------------------*/





/*font-color*/

.font-white{
    color: white;
}



/*font-size*/

.font-larger{
    font-size: 18px;
    font-weight: 900;
}




.font-large{
    font-size: 14px;
}

.font-small{
    font-size: 12px;
}




/*------------------------------------------------------------------------*/

/*bar*/

/*------------------------------------------------------------------------*/



.nav{
    height: 90px;
    background-color: antiquewhite;
    padding-left: 30px;
    
}


.bar{
    position: relative;
    height: 50px;
   
    background-color: white;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    padding-left: 20px;
    padding-right: 20px;
    }



.info-title{
    position: relative;
    height: 60px;
    background-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    padding-left: 20px;
}

.info-title .font-larger{
    position: absolute;
    top: 50%;
    margin-top: -9px; 
}

.info-title .font-small{
    position: absolute;
    top: 90%;
    margin-top: -9px; 
    width: 300px;
}




.info-area{
    margin-top: -1px;
    background-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    
}

/*------------------------------------------------------------------------*/

/*position*/

/*------------------------------------------------------------------------*/



.left{    
    position: absolute;
    top: 50%;
    margin-top: -16px; 
}




.right{

    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -16px; 
    


}



/*------------------------------------------------------------------------*/

/*test*/

/*------------------------------------------------------------------------*/





.btn-primary-large{
    font-size: 14px;
    height: 40px;
    min-width: 100px;
    background-color: darkblue;
    color: white;












